* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(59, 59, 59);
}

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 5vh;
  font-size: 4em;
  text-shadow: 0 0 30px white;
}

.body {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 10vh;
  width: 60vh;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container div {
  width: 6.25%;
  height: 6.25%;
  background-color: white;
}
