* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(48, 48, 48);
  font-family: monospace;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
  padding: 5vh;
  font-size: 4em;
  text-shadow: 0 0 30px white;
}

.body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5vh;
}

.container {
  width: 60vh;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container div {
  background-color: white;
}

.menu {
  width: 30vh;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

input.colorPicker {
  width: 50%;
  height: 100%;
}
label {
  font-size: 2em;
  margin: 1vh;
  font-weight: bold;
}
button {
  width: 100%;
  margin: 20px;
  padding: 10px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 1.5em;
  border-radius: 5px;
  border: 0px solid transparent;
  font-weight: bold;
}

.colPicker {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  border-radius: 10px;
}

.clear:hover,
.eraser:hover,
.btn1:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
  transition: transform 0.7s;
}

#range {
  margin-left: 10%;
  width: 80%;
  background-color: black;
}

.slider {
  width: 100%;
  background-color: white;
  color: black;
  padding: 25px 0px;
  border-radius: 10px;
}

.slider button {
  width: 100%;
  margin: 0 0 10px 0;
  background-color: white;
  text-align: center;
  font-size: 1.5em;
  border-radius: 5px;
  border: 0px solid transparent;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  font-size: 2em;
  position: absolute;
  width: 100%;
  bottom: 1em;
}

a {
  color: white;
}
